<div class="{% if include.container == 'fluid' %}container-fluid{% else %}container{% endif %}">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card-container">
                {% for image in site.data.speaker-cards %}
                <div class="card">
                        <div class="card-img"><img src="{{ site.baseurl }}{{ image.img_url }}" class="card-img-top" alt="{{ image.name }}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{ image.name }}</strong></h5>
                            <p class="card-text">{{ image.institution }}</p>
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
